/******************/

::-webkit-input-placeholder {
font-style: italic;
}
:-moz-placeholder {
font-style: italic;
}
::-moz-placeholder {
font-style: italic;
}
:-ms-input-placeholder {
font-style: italic;
}

input[type="email"] {
font-style: normal;
}
/*****************/


/* tab relatred changes*/

.customTab{
	margin: 15px;	
	border: 1px solid rgba(68, 68, 68, 0.67) !important;
	border-top-width: 1px !important;
}

a.x-tab.x-box-item{
	position: relative; !important;
	width: 150px !important;
	border:1px solid rgba(68, 68, 68, 0.67) !important;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: block !important;
	background-color: rgb(183, 183, 183);
	margin-right: 3px;
	border-bottom-width: 0px !important;
}
a.x-tab.x-box-item.x-tab-active{
	background-color: white !important;	
	border-bottom-width: 0px !important;
}


span.x-tab-inner.x-tab-inner-default{
	font-size:14px !important;
	font-weight:bold !important;
	text-align: center !important;
	display: block !important;
}


/* tab relatred changes*/



.login_logo{
	background:url('images/zebra_logo_big.png') no-repeat;	
	border-right: 4px solid #aab300;
	    display: block;
}
.login_logo_small{
	background-size:cover;
	height:45px;
	width:50px;
	border-right: 0px solid #aab300;
}
.flag_icon{
	background:url('images/flag_icon.png') no-repeat;	
	height: 16px !important;
    width: 26px !important;
}
.user_icon{
background:url('images/user_icon_128.png') no-repeat;	
	height:24px !important;
	width:24px !important;
	border-radius:	10px;
}

.logout_button.x-btn-default-toolbar-small, .logout_button.x-btn-default-toolbar-small.x-btn-over, .logout_button .x-btn-inner-default-toolbar-small{
	background-color:#595959 !important;
	border-radius: 4px;
	opacity: 1 !important;
	color:white !important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 3px 10px;
}
.logout_button1.x-btn-default-toolbar-small, .logout_button1.x-btn-default-toolbar-small.x-btn-over, .logout_button1 .x-btn-inner-default-toolbar-small{
	background:none !important;
	border: none;
}
.btn-logout{
	background-image: url(/custom/images/icons/logout_btn.png);
	width: 30px !important;
	height: 30px !important;
	border: none;
}

.menu_item .x-menu-item-text{
	color:#157fcc !important;
}

.menu_bar .x-btn-wrap-default-toolbar-small.x-btn-split-right:after, .logout_button .x-btn-wrap-default-toolbar-small.x-btn-split-right:after{
	background-position-x : -2px;
}

.menu_bar.x-btn-default-toolbar-small, .menu_bar.x-btn-default-toolbar-small.x-btn-over, .menu_bar .x-btn-inner-default-toolbar-small{
	background-color:rgba(0, 0, 0, 0) !important;
	border-color: white !important;
	opacity: 1 !important;
	background-image: none !important;
	color:#157fcc !important;
}


.button_remove.x-btn-default-toolbar-small, .button_remove.x-btn-default-toolbar-small.x-btn-over, .button_remove .x-btn-inner-default-toolbar-small, .button_remove.x-btn-focus, .button_remove.x-btn-default-toolbar-small-focus{
	background-color:rgba(0, 0, 0, 0) !important;
	border-color: white !important;
	opacity: 1 !important;
	background-image: none !important;
	border:0px !important;
}
.heading_color{
	background-color:#157fcc;
	border-radius:2px;
	
}
.header_label{
	padding-top:5px;
	padding-bottom:20px;
}
 .header_label_content{
	font-size:14px !important;
	font-weight:bold !important;
 }

.duplicate-icon{
	background-image:url(images/duplicate.png);
	height:16px;
	width:16px;
	float:left;
	cursor:pointer;
	left: 16px;
    position: relative;
}
.preview-icon{
	background-image:url(images/preview.png);
	height:16px;
	width:16px;
	float:left;
	cursor:pointer;
	left: 10px;
    position: relative;
}

 .edit-icon{
	background-image:url(images/edit-icon.png);
	height:16px;
	width:16px;
	float:left;
	cursor:pointer;
}

.del-icon{
	margin-left:10px;
	background-image:url(images/delete-icon.png);
	height:16px;
	width:16px;
	float:left;
	cursor:pointer;
}

 
 
.custom_toolbar, .custom_toolbar.x-toolbar-default{
	background-color:#ffffff !important; /*#D5D5D5*/
	background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-image: none;
background-origin: padding-box;
background-size: auto;
box-sizing: border-box;
color: rgb(121, 121, 121);
display: block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 14px;
height: 80px;
line-height: 80px;
margin-bottom: 5px;
margin-left: 5px;
margin-right: 5px;
margin-top: 5px;
min-height: 80px;
position: relative;
}
.custom_bg_background{
 background-color:#ffffff !important; /*#D5D5D5*/
 box-shadow:0px !important;
 }
.dragItem {
	float: left;
	margin: 0;
	padding: 2px 0 2px 2px;
}
.dragImage{
 	border: solid 1px #c5d2df!important;
	background-color: #f3f9fe!important;
	width: 45px;
	height: 45px;
	padding: 24px 27px 33px 28px;
 }


